@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Lato;
           
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(35, 25, 25, 0.1);
    height: 100px;
    position: fixed;
    width: 100%;
    top:0;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
  }
  .logo a img{
    width:25%;
    height: 5%;
    margin-top: 4%;
  }
 
  .nav-links {
    display: flex;
    list-style: none;
    /* margin-right: -50%; */
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  .nav-links li a i {
    margin-right: 5px;
  }
  
  
  .nav-links li a {
    font-size: 18px;
    color: #3e3b3b;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color: #5a720c;
  }

/* home */
#h1 {
  font-size: 70px;
  text-align: left;
  padding-top: 12%;
  color: #f3ebeb;
  text-shadow: 2px 2px #9bd909;
  font-family: lobster; 
  outline: none;
  box-shadow: 0px 0px 10px none;
  margin-left: 4%;
  width: 100%;
}

/* Create a glow effect on the outline */


/* Animate the glow effect */
@keyframes glow {
  0% {
    box-shadow: 10px 10px 10px #bfff00;
  }
  50% {
    box-shadow: 10px 10px 20px #f6ff00;
  }
  100% {
    box-shadow: 10px 10px 10px #c8ff00;
  }
}

/* Apply the animation to the glow effect */
#h1:focus {
  animation: glow 5s ease-in-out infinite;
}
#home{
  height: 60vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: green
  /* background:url(images/homepic1.png) no-repeat ;
 background-size: contain;
 background-position: center; */

}
#img-cont{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  
}
#img-cont img{
  width: 30%;
}
#ahome{
  margin-bottom: -5%;
  
}
#home2{
  margin-bottom: -8%;
  
}
#home3{
  margin-bottom: -5%;
  
}
/*
#img-cont img{
  width: 30%;
 margin-top: -22%;

  border: 1px solid transparent;
position: absolute;
   */

#home-info p{
  font-size:25px;
  padding:10px;
  color: rgb(231, 221, 221);
  font-family:lobster;
  margin-left: 4%;
}
.features {
  background-color: #fffafa;
  padding: 50px 0;
  text-align: center;
  margin-top: 2%;
}

.features h2 {
  margin-bottom: 50px;
}

.features ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.features li {
  flex-basis: 22%;
}

.features i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #856b06;
}

.features p {
  font-size: 18px;
  color: #333;
  margin: 10px;
}
.products {
  background-color: #856b06;
  padding: 50px 0;
  text-align: center;

}

.products .pro-h2 {
  font-size: 20px;
  width: 800px;
  height: 20px;
  margin-top: -2%;
  margin-left:26%;
 

}


.product {
  margin-bottom: 50px;
  width:35%;
  box-shadow: 330px, 140px 1epx #c2b60d;
  padding-top: 10px;
  padding-left: -64%;
  padding-bottom: 10px;
  margin-top: 2%;
 
}
.pro-container{
 width: 100%;
 display: flex;
}

.product img {
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}


.product h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product p {
  font-size: 18px;
  color: #e8dfdf;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #856b06;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5bc009;
  border-color:#5bc009;;
}
/* .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.testimonial img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.testimonial h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
} */
.re-text{
  text-align: center;
  padding: 10px;
  
}
.container {
  height: 50vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:green;
  margin-left: 25%;
  margin-bottom:1%;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
/* .reviews-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: column;
} */
  

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

#reviews{
  background-color:#FFF
  margin: 2%;
  height: 90vh;
}
#reviews header{
  text-align: center;
  font-size: 40px;
  font-family:Arial;
  font-weight: lighter;
  padding-top: 1%;

  
}
.reviews-wrapper figure{
 margin-left:15%;
  width:55%;
  display:inline;
 
} 
/* .reviews_pic4{
padding-right:22%;
} */
/* .big{
  padding-left: 15%;
} */
figure >#re{
  width:10%;
  border: 1px solid #fff;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 21px 35px #525254;
  /* margin: 100px; */
  margin-top: 1%;
}

/* .reviews_pic4{
margin: 1% 0 1% 15%;
} */
/* .reviews_pic5{
 margin-top: 2%;
 margin-bottom:1%;
} */
.full-img{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0 ;
  display: none;
  z-index: 100;
}
.full-img > img{
  width: 70%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-img span {
 position: absolute;
 font-size: 30px;
 top: 10%;
 right: 5%;
 color: rgb(236, 185, 185);
 font-family: arial;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 40%;
}

.footer-info h3 {
  margin-top: 0;
}

.footer-info p {
  margin-bottom: 5px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  color:orange
}

.footer-social {
  position: absolute;
  top: 35%;
  left: 22%;
}
.footer-social a:hover{
  color:orange
}

.footer-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li {
  margin: 0 5px;
}

.footer-social a {
  color: #fff;
  font-size: 1.5em;
}

.footer-credits {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.Product {
  width: 48%;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.Product img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.Product h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.Product p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 20px 20px;
}

.Product .btn {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #f76b6b;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.Product .btn:hover {
  background-color: #ff8c8c;
}

.Pro-h2 {
  text-align: center;
  margin-top: 50px;
}

.Pro-h2 h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: #333;
}
#Products-header{
  margin-top: 7%;
  margin-bottom: 5%;
   width: 100%;
   color: white;
  background-color: black;
  height: 200px;
   /* display: flex;
   justify-items:space-between;
   align-items: center;
   flex-direction:row-reverse;
   background-color:green */
}
#Products-header h1{
   text-align: center;
}
#Products-header ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  margin-left: 23%;
  margin-top: 2%;
 
}
#Products-header ul li{
  cursor: pointer;
}
#Products-header > ul > li ::after{
  content: " ";
  position: absolute;
 margin-left: -3%;
  bottom: 60%;
  width: 1px;
  height: 1px;
  width:200px;
  height: 10px;
  background-color: rgb(229, 221, 221);
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
  color: #5bc009;
}